<div id="smart-container">
  <div class="row">
    <div class="col-md-12 sources-container">
      <div>
        Charte : 
      </div>
      <div>
        - Fiche si page Wikipédia ou compte réseau social > 50k abonnés.
      </div>
      <div>
        - Les sources ajoutées doivent avoir moins d'une semaine.
      </div>
      <div>
        - Si une source est ambigüe, elle doit être rejetée (Bénéfice du doute).
      </div>
    </div>
  </div>
</div>