<div id="smart-container">
  <div class="row">
    <div class="col-md-12 sources-container">
      <h2>
        Charte (en cours de rédaction) : 
      </h2>
      <div>
        - Le but du ConfianScore est d'aider les personnes à accorder leur confiance intellectuelle à des personnes intellectuellement fiables.
      </div>
      <div>
        - Le cas classique est : j'entends quelqu'un que je ne connais pas, parler à la télévision d'un sujet sur lequel je ne sais rien. Puis-je m'y fier a priori?
      </div>
      <div>
        - Le but du ConfianScore n'est pas de dire ce qui est vrai ou faux.
      </div>
      <div>
        - Une personne peut avoir une fiche Confianscore si elle a une fiche Wikipédia ou si elle a un compte sur un réseau social avec au moins 50k abonnés.
      </div>
      <div>
        - Confianscore recherche la neutralité de point de vue. Les opinions politiques ou philosophiques des contributeurs ne doivent pas affecter le ConfianScore.
      </div>
      <div>
        - Les sources ajoutées doivent avoir moins d'une semaine.
      </div>
      <div>
        - Si une source est ambigüe, elle doit être rejetée (Bénéfice du doute).
      </div>
      <div>
        - Chaque source doit être apportée de bonne foi. Pas de citation tronquée.
      </div>
      <div>
        - Avant de voter pour une source, tout utilisateur doit préalablement lire cette source.
      </div>
      <div>
        - Un utilisateur n'a pas le droit de voter plusieurs fois pour la même source.
      </div>
      <div>
        - Dans l'idéal, chaque source doit avoir une explication pour recontextualiser et aider à comprendre en quoi elle est importante pour connaître la fiabilité du profil.
      </div>
      <div>
        - Le ConfianScore ne se substitue ni à l'éducation ni à la culture.
      </div>
      <div>
        - Le ConfianScore ne vise pas à devenir une autorité, mais simplement un repère lorsque l'on n'a pas le temps, les moyens ou la volonté de se former et d'étudier un sujet. Consulter cette <a href="https://www.youtube.com/watch?v=eLLIm-GpJh4">vidéo</a>, sur la chaîne Hygiène Mentale, à ce sujet.
      </div>
      <hr>
      <h2>
        Fonctionnement général : 
      </h2>
      <div>
        1°) Si une personne ayant une fiche prononce une parole correspondant à une des <%= link_to "catégories", tags_path() %>, on peut proposer l'ajout de cette parole à la fiche. (via le bouton "Ajouter une source")
      </div> 
      <div>
        2°) Cette parole est proposée à un vote. La communauté ConfianScore peut voter. Ce vote permet de valider la pertinence de la source, mais aussi d'indiquer la catégorie à laquelle la source appartient.
      </div>
      <div>
        3°) Chaque soir (bientôt cela sera hebdomadaire), les scores de chaque fiche sont mises à jour avec les sources récoltées durant la journée. 
      </div>
      <div>
        NB : Une fiche peut être créée selon les critères mentionnées plus haut.
      </div>
      <hr>
      <h2>
        Calcul du ConfianScore : 
      </h2>
      <div>
        <%= link_to "Explications en détails", "Calcul_ConfianScore.pdf" %>
      </div>
    </div>
  </div>
</div>