<div id="smart-container">
  <div class="row">
    <div class="col-md-12 sources-container">
      <div>
        Charte : 
      </div>
      <div>
        - Le but du ConfianScore est d'aider les personnes à accorder leur confiance intellectuelle à des personnes intellectuellement fiables.
      </div>
      <div>
        - Le but du ConfianScore n'est pas de dire ce qui est vrai ou faux.
      </div>
      <div>
        - Une personne peut avoir une fiche Confianscore si elle a une fiche Wikipédia ou si elle a un compte sur un réseau social avec au moins 50k abonnés.
      </div>
      <div>
        - Confianscore recherche la neutralité de point de vue. Le score ne doit pas être biaisé par les opinions politiques ou philosophes des contributeurs.
      </div>
      <div>
        - Les sources ajoutées doivent avoir moins d'une semaine.
      </div>
      <div>
        - Si une source est ambigüe, elle doit être rejetée (Bénéfice du doute).
      </div>
      <div>
        - Chaque source doit être apportée de bonne foi. Pas de citation tronquée.
      </div>
      <div>
        - Avant de voter pour une source, tout utilisateur doit préalablement lire cette source.
      </div>
      <div>
        - Un utilisateur n'a pas le droit de voter plusieurs fois pour la même source.
      </div>
    </div>
  </div>
</div>