<div id="smart-container">
  <div class="row">
    <div class="col-md-8 sources-container">
      <div>
        Dernières sources en attente :
      </div>
      <% Source.new_pendings.each do |source| %>
        <%= link_to source.abstract_with_name, source_path(source.id) %>
      <% end %>
    </div>
    <div class="col-md-4 sources-container">
      <div id="resume-title">Dernières fiches créées</div> 
      <% Person.last_created.each do |person| %>
        <div>
          <%= link_to person.full_name, person_path(person.id)  %>
        </div>
      <% end %>   
    </div>
  </div>
</div>