<div id="smart-container">
  <div class="row">
    <h1 class="col-md-12 sources-container">
        Score de fiabilité intellectuelle collaboratif.
    </h1>
    <div class="col-md-8 sources-container">
      <div>
        Dernières sources en attente :
      </div>
      <% Source.new_pendings.each do |source| %>
        <div>
          <%= link_to source.abstract_with_name, new_vote_path({:source_id => source.id}) %>
        </div>
      <% end %>
      <div>
        Dernières sources validées :
      </div>
      <% Source.last_validated.each do |source| %>
        <div>
          <%= link_to source.abstract_with_name, source_path(source.id) %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 sources-container">
      <div id="resume-title">Dernières fiches créées</div>
      <% Person.last_created.each do |person| %>
        <div>
          <%= link_to person.full_name, person_path(person.id)  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
