<h1>Ajouter une source pour <%= displayed_name(@source.person) %></h1>
<h3 id="source-explanation">
  La phrase doit avoir été prononcée par la personne il y a moins de 15 jours et ne doit pas être détournée de son contexte.
  <%= link_to "Lire la charte", charte_path(), id: "source-charte" %>
</h3>
<%= render 'form', source: @source %>
