<h1>Modifier les informations générales</h1>
<h4 id="source-explanation">
  Toute information utile concernant le parcours de la personne et pouvant aider à se faire une idée quant à sa rigueur intellectuelle a sa place ici. Tout propos injurieux, ne respectant pas la loi française ou hors sujet sera supprimé.
  <br>Toutes les modifications sont sauvegardées.
</h4>
<%= form_tag(update_general_data_path(@person.id)) do %>

  <div class="field">
    <%= rich_text_area_tag :last_general_data, @last_general_data, :id => "text-general-data" %>
  </div>

  <div class="field" hidden>
    <%= number_field_tag :person_id, @person_id %>
  </div>

  <div class="actions">
    <%= submit_tag "Sauvegarder" %>
  </div>
<% end %>
