<div class="row">
  <div class="col-md-12 sources-container">
    <div>
      Toutes les fiches existantes (<%= @counter.to_s + " ont des sources" %>) actuellement :
    </div>
    <% @all_persons.each do |person| %>
      <div class="search-result-block">
        <h4 class="all-profiles">
          <% if person.has_source? %>
            <%= link_to displayed_name(person), person_path(person.id) %>
            <div class="search-result-details">
              <%= (person.score_value*100).to_i.to_s + "% - " + person.sources.count.to_s + " sources" %>
            </div>
          <% else %>
            <%= link_to displayed_name(person), person_path(person.id) %>
            <div class="search-result-details">
              Pas de source pour l'instant
            </div>
          <% end %>
        </h4>
      </div>
    <% end %>
  </div>
</div>
