<h1>Ajouter une prédiction de <%= displayed_name(@prediction.person) %></h1>
<div>Les prédictions sont des annonces faites par la personne, qui ne sont pas encore vérifiables à l'heure actuelle, mais qui le seront plus tard. Exemple : "Je sais de source sûre que tel joueur de foot sera transféré dans tel club la saison prochaine."</div>
<%= render 'form', prediction: @prediction %>
