<h1>Modifier le commentaire</h1>
<h3 id="source-explanation">
  L'historique est modification est enregistré.
</h3>
<%= render 'form', commentaire: @commentaire %>
<%= link_to 'Voir la source', source_path(@commentaire.source_id) %>
