<h1>Modifier la contextualisation</h1>
<div id="source-explanation">
  L'historique est modification est enregistré.
</div>
<%= render 'form', commentaire: @commentaire %>
<%= link_to 'Voir la source', source_path(@commentaire.source_id) %>
