<p id="notice"><%= notice %></p>

<h1>Catégories</h1>

<table>
  <thead>
    <tr>
      <th>Intitulé</th>
      <th>Coefficient d'importance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.coefficient %></td>
      </tr>
    <% end %>
  </tbody>
</table>

