@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'OpenSans';
    background-color: #f2f2f5;
}

h2 {
    font-weight: bold;
}

#smart-container  {
    padding: 20px
}

#people-image-info {
    padding-left: 20px
}

#resume-title {
    font-weight: bold;
}

#resume-info {
    color: #bbbbbb;
}

#wikilink {
    font-weight: bold;
}

#vote-validation-field {
    text-align: center;
}
.box {
    display: flex;
 }

.navbar {
    background-color: #517a8b;
}

.nav-link {
    color: white !important;
}

.person-header, .sources-container, .vote-container {
    box-shadow: 0 2px 2px 0 rgba(0,0,50,.04);
    background-color: white;
    padding: 50px
}
.sources-container {
    margin-top: 10px;
}

.vote-container {
    text-align: center;
}