@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/OpenSans-Regular.ttf') format('truetype');
}

a:hover {
    background-color: transparent !important;
}
a, a:visited {
  color: #202122;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f5;
    color: #202122;
}

h2 {
    font-weight: bold;
}

li {
  font-size: 0.95em
}

ul {
  padding-left: 0px
}

#navbarSupportedContent {
  font-family: Arial,sans-serif;
}

#home-header-block {
  float: left
}

#home-header {
  padding-bottom: 25px;
  padding-top: 25px;
}

#home-desc {
  font-weight: 400 !important;
  font-size: 1.5rem;
}



@media screen and (min-width: 768px) {
  #home-image {
    max-width: 63px;
    float: left;
    padding-right: 14px;
  }
}

@media screen and (max-width: 767px) {
  #home-image {
    display: none;
  }

  #home-title {
    display: none;
  }

  #submit-search-btn {
    display: none;
  }
}

#smart-container  {
    padding: 20px
}

#image-container {
    text-align: center;
}

#people-image {
    width: 100%;
    max-width: 200px;
}

#people-image-info {
    padding-left: 20px
}

#resume-title {
    font-weight: bold;
}

#resume-info {
    color: #bbbbbb;
}

#wikilink {
    font-weight: bold;
}

#vote-validation-field {
    text-align: center;
}

#quote {
  font-weight: 800;
  font-size: 18px;
  padding: 30px;
}

#ans-block {
  font-size: 14px;
  padding: 5px;
  border: 1px solid black;
}

#text-source {
  width: 100%;
  min-height: 140px;
  padding: 8px;
}

#link-source {
  min-width: 345px;
  padding: 8px;
}

#img-licence {
    font-size: 12px
}

#search-bar {
  background-color: white;
  display: inline-block;
}

#search-input {
  border-radius: 0px;
  border-color: white;
  min-width: 275px;
}

#submit-search-btn {
  border-color: white;
}

#fiabilite {
  font-weight: lighter;
}

#source {
  padding: 15px;
  border: 1px solid #000;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}

#source-author {
  width: 100%;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.home-last {
  font-family: 'Linux Libertine','Georgia','Times',serif;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: solid 0.1rem #517a8b;
}
.box {
    display: flex;
 }

.navbar {
    background-color: #517a8b;
}

.nav-link {
    color: white !important;
}

.person-header, .sources-container, .vote-container {
    box-shadow: 0 2px 2px 0 rgba(0,0,50,.04);
    background-color: white;
    padding: 50px
}
.sources-container {
    margin-top: 1px;
}

.vote-container {
    text-align: center;
}

.column-with-borders {
    border: 1px solid black;
}

.btn-outline-success {
    color: #fdc944;
    border-color: #fdc944;
}

.btn-outline-success:hover {
    color: white;
    background-color: #fdc944;
    border-color: #fdc944;
}

.search-result {
    font-size: 30px;
}

.search-result-details {
    font-size: 20px;
}

.search-result-block {
    margin-top: 15px;
}

.gravite-source {
    color: #fdc944 !important;
}

.source {
    margin-top: 10px
}

.source-details-link {
    color: #517a8b !important;
    font-weight: bold;
}

#discussion-messages {
  text-align: left
}

.source-lis {
  display: inline-block;
  padding-top: 8px;
  width: 100%
}

.source-colorized {
  color: #89290b !important;
}

.quote-ans {
  padding: 5px
}
