<div class="row">
  <div class="col-md-12 sources-container">
    <div>
      <%= "Résultats pour : " + @search.keywords.to_s %>
    </div>
    <% @persons.each do |person| %>
      <div class="search-result-block">
        <div class="search-result">
          <%= link_to person[0].full_name, person_path(person[0].id) %>
        </div>
        <div class="search-result-details">
          <%= (person[0].score_value*100).to_s + "% - " + person[0].sources.count.to_s + " sources" %>
        </div>
      </div>
    <% end %>
  </div>
</div>