<div id="smart-container">
    <div class="vote-container">
        <div>La phrase suivante a t-elle été prononcée exactement en ces termes par <%= @person.full_name %> ? </div>
        <div>Et si oui, exprime t-elle honnêtement sa pensée ? (formulation à vérifier)</div>

        « <a href="<%= @source.link %>"><%= @source.abstract %></a> »

        <%= render 'form', vote: @vote %>
    </div>
</div>