
<p>
  <strong>Merci d'avoir voté.</strong>
  <%= "«" + @vote.source.abstract + "»" %>
</p>

<%= link_to "Retourner sur le profil de " + @vote.source.person.full_name, person_path(@vote.source.person.id) %>
